/* Menu */
.menu {
  width: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

/* logo */
.menu .logo {
  width: 100px;
  height: 100px;
}

/* img */
.menu .logo img {
  width: 100%;
  height: 100%;
}

/* links */
.menu .links {
  flex-direction: row;
}

.menu .links a {
  color: #2e4f66;
  cursor: pointer;
  margin: 0 15px;
}

/* btn-Mobile */
.menu .btn-mobile {
  display: none;
  line-height: 0;
  color: #2e4f66;
  cursor: pointer;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}

/* Container Menu */
.container-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

/* menu mobile */
.menu-mobile {
  width: 225px;
  height: 100vh;
  background: #fff;
  transform: translateX(-225px);
  padding: 40px 0;
  margin: 0;
  transition: 0.3s all;
}

.menu-mobile.active {
  transform: translateX(0);
}

.menu-mobile a {
  color: #2e4f66;
  padding: 10px 25px;
  margin-bottom: 10px;
}

.menu-mobile a:hover {
  background: rgba(0, 0, 0, 0.03);
}

/* Home */
.home {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 0;
}

/* illustratin */
.home .illustration {
  position: absolute;
  transform: translate(80%, -200px);
  z-index: -1;
}

.home .illustration::after {
  content: "";
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  animation: illustrationHome 3s ease infinite;
  border-radius: 100%;
  margin: 25px 0 0 225px;
  z-index: -1;
}

.home .illustration img {
  width: 800px;
  animation: imgHome 3s ease infinite;
  filter: drop-shadow(-10px 25px 15px #0000000a);
}

/* info */
.home .info {
  width: 50%;
  padding: 0 50px;
}

.home .info h3 {
  font-size: 1.3rem;
  color: #2e4f66;
}

.home .info h1 {
  font-size: 1.9rem;
  color: #2e4f66;
  margin-top: 50px;
}

.home .info h1::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #e74c3c;
  border-radius: 100px;
}

.home .info h1 strong {
  color: #e74c3c;
}

/* buttons */
.home .info .buttons {
  flex-direction: row;
  margin-top: 30px;
}

.home .info .buttons a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background: #2e4f66;
  border-radius: 100px;
  padding: 12px 27px;
}

.home .info .buttons a:nth-child(2) {
  background: #e74c3c;
  margin-left: 25px;
}

/* Sobre */
.sobre {}

/* Serviços */
.servicos {}

/* Cases */
.cases {
  width: 100%;
  position: relative;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 150px;
}

.cases .titulo {
  width: 100%;
  height: 110px;
  color: #2e4f66;
  font-size: 1.8rem;
  text-align: center;
  line-height: 100px;
  background: url("../img/bg_titulo.svg");
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 45% 0%;
  margin-bottom: -75px;
}

/* illustration */
.cases .illustration {
  width: 50%;
  transform: translateX(80px);
}

/* avaliacao */
.cases .avaliacao {
  width: 50%;
  padding-left: 75px;
}

/* descricao */
.cases .avaliacao .descricao {
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

/* foto */
.cases .avaliacao .descricao .foto {
  background: url("../img/bg_foto.svg") no-repeat;
  background-size: cover;
  padding: 40px 30px 30px 40px;
}

.cases .avaliacao .descricao .foto img {
  width: 75px;
}

.cases .avaliacao .descricao .foto.active {
  animation: fotoCases 0.3s ease;
}

/* info */
.cases .avaliacao .descricao .info {
  margin-left: 25px;
}

.cases .avaliacao .descricao .info .nome {
  width: 100%;
  color: #2e4f66;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
}

.cases .avaliacao .descricao .info .nome.active {
  animation: textoCases 0.3s ease;
}

.cases .avaliacao .descricao .info .cargo {
  width: 100%;
  color: #2e4f66;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}

.cases .avaliacao .descricao .info .cargo.active {
  animation: textoCases 0.4s ease;
}

.cases .avaliacao .comentario {
  width: 100%;
}

.cases .avaliacao .comentario p {
  color: #2e4f66;
  text-align: justify;
  padding: 0 30px;
}

.cases .avaliacao .comentario p.active {
  animation: textoCases 0.6s ease;
}

.cases .avaliacao .comentario::before,
.cases .avaliacao .comentario::after {
  content: '"';
  font-family: "Engravers MT";
  font-size: 3rem;
  line-height: 0;
}

.cases .avaliacao .comentario::after {
  transform: translateX(95%);
}

/* btn-case */
.btn-case {
  width: 55px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 50px 0 0 25px;
}

.btn-case img {
  position: absolute;
  width: 100%;
}

.btn-case i {
  color: #fff;
  z-index: 2;
}

/* Orçamento */
.orcamento {}

/* Contato */
.contato {}

/* MEDIAS */
@media (max-width: 1200px) {

  /* Home */
  /* illustration */
  .home .illustration {
    transform: translate(60%, -200px);
  }

  /* info */
  .home .info h3 {
    font-size: 1.1rem;
  }

  .home .info h1 {
    font-size: 1.6rem;
  }

  /* buttons */
  .home .info .buttons {
    margin-top: 50px;
  }

  /* Cases */
  .cases .titulo {
    margin-bottom: 25px;
  }
}

/* MEDIAS */
@media (max-width: 1000px) {

  /* Menu */
  .menu {
    flex-direction: row-reverse;
  }

  .menu .links {
    display: none;
  }

  /* btn-Mobile */
  .menu .btn-mobile {
    display: inline;
  }

  /* Home */
  /* illustratin */
  .home .illustration {
    transform: translate(100%, -125px);
  }

  .home .illustration::after {
    margin: 30px 0 0 100px;
  }

  .home .illustration img {
    width: 500px;
  }

  /* info */
  .home .info {
    width: 60%;
  }

  .home .info h3 {
    font-size: 1rem;
  }

  .home .info h1 {
    font-size: 1.3rem;
  }

  /* buttons */
  .home .info .buttons a {
    padding: 12px 25px;
  }

  /* Cases */
  .cases {
    flex-direction: column;
  }

  /* illustration */
  .cases .illustration {
    width: 70%;
    transform: none;
    margin: -50px 0 -100px 0;
  }

  /* avaliação */
  .cases .avaliacao {
    width: 100%;
    padding: 50px 25px;
  }
}

@media (max-width: 700px) {

  /* Home */
  .home {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  /* illustratin */
  .home .illustration {
    width: 100%;
    align-items: center;
    position: relative;
    transform: none;
    transform: translateY(-100px);
  }

  .home .illustration::after {
    margin: 30px 0 0 -100px;
  }

  /* info */
  .home .info {
    width: 100%;
  }

  /* buttons */
  .home .info .buttons a {
    padding: 12px 20px;
  }

  /* Cases */
  .cases .titulo {
    font-size: 1.5rem;
    background-size: 100px;
    background-position: 25% 0%;
  }

  /* illustration */
  .cases .illustration {
    width: 100%;
  }

  /* avaliação */
  /* descrição */
  /* foto */
  .cases .avaliacao .descricao .foto {
    padding: 30px 20px 20px 30px;
  }

  .cases .avaliacao .descricao .foto img {
    width: 60px;
  }

  /* info */
  .cases .avaliacao .descricao .info .nome {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .cases .avaliacao .descricao .info .cargo {
    font-size: .9rem;
  }

  /* comentario */
  .cases .avaliacao .comentario p {
    font-size: .9rem;
  }

  .cases .avaliacao .comentario::before,
  .cases .avaliacao .comentario::after {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {

  /* Home */
  /* info */
  /* buttons */
  .home .info .buttons {
    flex-direction: column;
  }

  .home .info .buttons a {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home .info .buttons a:nth-child(2) {
    width: 150px;
    margin: 25px 0 0 0;
  }
}

/* KEYFRAMES */
@keyframes imgHome {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes illustrationHome {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.05);
  }

  50% {
    transform: scale(0.7);
    background-color: rgba(0, 0, 0, 0.05);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@keyframes textoCases {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fotoCases {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}