/* MENU */
.menu {
  width: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

/* logo */
.menu .logo {
  width: 100px;
  height: 100px;
}

/* img */
.menu .logo img {
  width: 100%;
  height: 100%;
}

/* links */
.menu .links {
  flex-direction: row;
}

.menu .links a {
  color: #2e4f66;
  cursor: pointer;
  margin: 0 15px;
}

/* btn-Mobile */
.menu .btn-mobile {
  display: none;
  line-height: 0;
  color: #2e4f66;
  cursor: pointer;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}

/* CONTAINER MENU */
.container-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

/* MENU MOBILE */
.menu-mobile {
  width: 225px;
  height: 100vh;
  background: #fff;
  transform: translateX(-225px);
  padding: 40px 0;
  margin: 0;
  transition: 0.3s all;
}

.menu-mobile.active {
  transform: translateX(0);
}

.menu-mobile a {
  color: #2e4f66;
  padding: 10px 25px;
  margin-bottom: 10px;
}

.menu-mobile a:hover {
  background: rgba(0, 0, 0, 0.03);
}

/* HOME */
.home {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 0;
}

/* illustratin */
.home .illustration {
  position: absolute;
  transform: translate(80%, -200px);
  z-index: -1;
}

.home .illustration::after {
  content: "";
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  animation: illustrationHome 3s ease infinite;
  border-radius: 100%;
  margin: 25px 0 0 225px;
  z-index: -1;
}

.home .illustration img {
  width: 800px;
  animation: imgHome 3s ease infinite;
  filter: drop-shadow(-10px 25px 15px #0000000a);
}

/* info */
.home .info {
  width: 50%;
  padding: 0 50px;
}

.home .info h3 {
  font-size: 1.3rem;
  color: #2e4f66;
}

.home .info h1 {
  font-size: 1.9rem;
  color: #2e4f66;
  margin-top: 50px;
}

.home .info h1::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #e74c3c;
  border-radius: 100px;
}

.home .info h1 strong {
  color: #e74c3c;
}

/* buttons */
.home .info .buttons {
  flex-direction: row;
  margin-top: 30px;
}

.home .info .buttons a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background: #2e4f66;
  border-radius: 100px;
  padding: 12px 27px;
}

.home .info .buttons a:nth-child(2) {
  background: #e74c3c;
  margin-left: 25px;
}

/* KEYFRAMES */
@keyframes imgHome {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}

/* MEDIAS */
@media (max-width: 1200px) {
  /* Home */

  /* illustration */
  .home .illustration {
    transform: translate(60%, -200px);
  }

  /* info */
  .home .info h3 {
    font-size: 1.1rem;
  }

  .home .info h1 {
    font-size: 1.6rem;
  }

  /* buttons */
  .home .info .buttons {
    margin-top: 50px;
  }
}

/* MEDIAS */
@media (max-width: 1000px) {
  /* Menu */
  .menu {
    flex-direction: row-reverse;
  }

  .menu .links {
    display: none;
  }

  /* btn-Mobile */
  .menu .btn-mobile {
    display: inline;
  }

  /* Home */
  /* illustratin */
  .home .illustration {
    transform: translate(100%, -125px);
  }

  .home .illustration::after {
    margin: 30px 0 0 100px;
  }

  .home .illustration img {
    width: 500px;
  }

  /* info */
  .home .info {
    width: 60%;
  }

  .home .info h3 {
    font-size: 1rem;
  }

  .home .info h1 {
    font-size: 1.3rem;
  }

  /* buttons */
  .home .info .buttons a {
    padding: 12px 25px;
  }
}

@media (max-width: 700px) {
  /* Home */
  .home {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  /* illustratin */
  .home .illustration {
    width: 100%;
    align-items: center;
    position: relative;
    transform: none;
    transform: translateY(-100px);
  }

  .home .illustration::after {
    margin: 30px 0 0 -100px;
  }

  /* info */
  .home .info {
    width: 100%;
  }

  /* buttons */
  .home .info .buttons a {
    padding: 12px 20px;
  }
}

@keyframes illustrationHome {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.05);
  }

  50% {
    transform: scale(0.7);
    background-color: rgba(0, 0, 0, 0.05);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.05);
  }
}
